<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head :: headElements"></head>
<title>Car Rental System - Cars</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<div id="mainContainer" class="container">
  <div style="width: 100%;">
    <h3 style="display: inline;">Our Cars</h3>
    <span style="float: right;">
                <a class="btn btn-outline-primary btn-lg" href="/register/car/new">
                    <i class="fa-brands fa-product-hunt"></i> Add a New Car
                </a>
            </span>
  </div>

  <hr/>
  <div style="font-size: 1em">
    <!-- table with cars-->
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reg Number</th>
        <th scope="col">Model</th>
        <th scope="col">Make</th>
        <th scope="col">year</th>
        <th scope="col">Milage</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car,counter: ${cars}">
        <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
        <th scope="row" th:text="${counter.count}+${'.'}"></th>
        <td th:text="${car.registrationNumber}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.milage}"></td>
        <td th:text="${car.status}"></td>

        <td>
          <a th:href="@{'/car/edit/{carId}'(carId=${car.carId})}">
            <i class="fa-regular fa-pen-to-square"></i> Edit Car
          </a>
        </td>
        <td>
          <a th:href="@{'/register/car/delete/{carId}'(carId=${car.carId})}">
            <i class="fa-solid fa-delete-left"></i> Delete Car
          </a>

        </td>
      </tr>
      <tr th:if="${cars.isEmpty()}">
        <td colspan="8" th:align="center">No Cars found</td>
      </tr>
      </tbody>
    </table>
    <!--Pagination-->
    <div>
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">Pages: </a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, cars.totalPages)}"
            th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">
          <a th:href="@{/car/list(pageNo=${i-1})}"
             th:text="${i}" class = "page-link"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div th:replace="public/fragments/footer :: footer"></div>-->
</body>
</html>