<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="public/fragments/head:: headElements"></head>
<head>
  <meta charset="UTF-8">
  <title>Car Rental System - System Administration - Cars</title>
</head>
<body>
<div th:replace="public/fragments/header :: header"></div>
<main>
  <h1>System Administration</h1>
  <nav>
    <a href="/register/car/list">Manage Cars</a> |
    <a href="#">Manage Customers</a> |

  </nav>
  <h2 style="background-color: aqua;">Cars search result for '[[${searchString}]]'</h2>
  <section>
    <form action="/register/car/search" method="get">
      <fieldset>
        <legend style="font-weight: bolder;">Search for Car(s)</legend>
        <label>
          You may search by Car's Name or any part of the Address data.
        </label>
        <div>
          <input type="search" name="searchString" id="searchString" style="width: 35%; height: 4em;"
                 th:value="${searchString}" placeholder="Enter some text to search for Cars"
                 autofocus>
          <button type="submit" style="height: 4em; width: 7em;">Search</button>
        </div>
      </fieldset>
    </form>
  </section>
  <section style="margin-top: 1em;">
    <table border="1" cellpadding="20" cellspacing="0">
      <thead>
      <tr>
        <th>#</th>
        <th>Registration Number</th>
        <th>Model </th>
        <th>Make</th>
        <th>Year </th>
        <th>Milage </th>
        <th>Status </th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="car, counter : ${car}">
        <th scope="row" th:text="${counter.count}+${'.'}"></th>
        <td th:text="${car.registrationNumber}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.milage}"></td>
        <td th:text="${car.status}"></td>

      </tr>
      <tr th:if="${car.isEmpty()}">
        <td colspan="3" th:align="center">No Cars found</td>
      </tr>
      </tbody>
    </table>
  </section>
  <section style="margin-top: 1em;">

  </section>
</main>
</body>
</html>