<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="margin: 0 1em 0 1em; padding-right: 2em;" class="navbar-brand" href="/car/home">Car Rental system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
          <a class="nav-link" href="/car/about">About Us</a>
        </li>
        <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
          <a class="nav-link" href="#">Virtual Tour</a>
        </li>

        <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
          <a class="nav-link" href="/car/list">Cars</a>
        </li>
        <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
          <a class="nav-link" href="#">Search Form</a>
        </li>
      </ul>
    </div>
  </nav>
</header>